.project
.classpath
.settings/
target/**
blogbox/nb-configuration.xml
blogbox-st/nbactions.xml
blogbox/.factorypath
blogbox-st/.factorypath
.vscode/settings.json
.vscode/extensions.json
blogbox/.apt_generated/**
*.jar
blogbox-webapp/target/**
